[run]
parallel = True
concurrency = multiprocessing,thread
omit =
    */plotpy/tests/*
    */plotpy/external/*
    */plotpy/plot/interactive.py
    *.vscode/extensions*
    */qwt/*
    */guidata/*

exclude_lines =
    if __name__ == .__main__.:
    if TYPE_CHECKING: