[run]
parallel = True
concurrency = multiprocessing,thread
omit =
    */plotpy/tests/*
    */plotpy/external/*
    */plotpy/plot/interactive.py
    *.vscode/extensions*
    */qwt/*
    */guidata/*