[run]
parallel = True
concurrency = multiprocessing,thread
omit =
    */plotpy/tests/*
    */plotpy/external/*
    */plotpy/plot/interactive.py
    *.vscode/extensions*
    */qwt/*
    */guidata/*

[report]
exclude_also =
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
