# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code
.env
.venv
.venv*

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Tests
.tox/
.hypothesis/
.coverage
.coverage.*
.cache
unittests.xml
coverage.xml
coverage/
.pytest_cache/
pylint_report.txt
/*.h5
/*.png
/*.tif
/*.pickle

# Sphinx documentation
docs/build/

# Generated cython c file
src/histogram2d.c
src/mandelbrot.c

# qt.conf files
doc/source/deployment_example/qt.conf

# Coverage
htmlcov

# Other
*.bak
*_ui.py
*.mo
*.pot
