[Desktop Entry]
Version=1.0
Type=Application
Name=PlotPy
GenericName=PlotPy Test launcher
Comment=The PlotPy Python library provides powerful curve and image plotting tools
TryExec=plotpy-tests
Exec=plotpy-tests
Icon=plotpy.svg
Categories=Education;Science;Physics;
