Coverage
Cython
NumPy>=1.17
Pillow
tifffile
PyQt5
PythonQwt>=0.12.1
SciPy>=1.3
guidata>=3.4
pylint
ruff
pytest
pytest-xvfb
python-docs-theme
sphinx
myst_parser
sphinx-copybutton
sphinx_qt_documentation
