Coverage
Cython>=3.0
Pillow
PyQt5
PythonQwt>=0.14
SciPy>=1.5
guidata>=3.7
myst_parser
pylint
pytest
pytest-xvfb
python-docs-theme
ruff
scikit-image >= 0.18
sphinx
sphinx-copybutton
sphinx_qt_documentation
tifffile
toml-to-requirements==0.3.0