Coverage
Cython==3.0
Pillow
PyQt5==5.15.6
PythonQwt==0.14
SciPy==1.7.3
babel
guidata==3.11
myst_parser
numpy==1.22
pylint
pytest
pytest-xvfb
python-docs-theme
ruff
scikit-image==0.19
sphinx
sphinx-copybutton
sphinx_qt_documentation
tifffile
