black
chardet
guidata
h5py
isort
mypy
numpy
pycodestyle
pylint
PyQt5
PythonQwt
qtpy
scipy
sphinx
sphinx-rtd-theme
sphinx-intl
esbonio
Pillow
pandas
matplotlib
Cython
pytest
pytest-qt
pytest-xvfb
flaky
pydicom
